<style>
  table { float: left; }
  td { width: 125px; height: 155px}
  div { height: 300px }
</style>

<% 7.times do %>
  <div>
  <% 3.times do %>
     <%= erb :bingo, collection: @thumbnails %>
  <% end %>
  </div>
<% end %>
